[Unit]
Description=Slurm-job-exporter
After=network.target


[Service]
Type=simple
User=slurm-job-exporter
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=-/etc/sysconfig/slurm-job-exporter.conf
AmbientCapabilities=CAP_SYS_ADMIN
ReadWritePaths=/sys/fs/cgroup
ExecStart=/usr/lib/slurm-job-exporter/run.sh
PIDFile=/var/run/slurm-job-exporter/slurm-job-exporter.pid
KillMode=process
PrivateDevices=no
ProtectSystem=false
ProtectHome=false


[Install]
WantedBy=multi-user.target